__pycache__/
*.py[cod]
.vscode/
*.egg-info
memory
checkpoints
dream_log
debug
*build*/
*dist*/
*egg-info*/
*__pycache__*/
*.so
*.egg
*.egg-info
*.pyo
*.pyd
*.pyc
*.pyo
rerun_log
src/anygrasp_manipulation/.TimeRecord
MinkowskiEngine
src/anygrasp_manipulation/example_data

src/anygrasp_manipulation/pointnet2/pointnet2/_ext.cpython-310-x86_64-linux-gnu.so