
[submodule "third_party/anygrasp_sdk"]
	path = third_party/anygrasp_sdk
	url = https://github.com/graspnet/anygrasp_sdk.git
[submodule "third_party/segment-anything-2"]
	path = third_party/segment-anything-2
	url = https://github.com/facebookresearch/sam2.git
