# Python 缓存
__pycache__/
*.py[cod]
# VS Code 配置（可选，避免上传个人配置）
.vscode/
*.egg-info
memory
checkpoints
dream_log
debug
*build*/
*dist*/
*egg-info*/
*__pycache__*/
*.so
*.egg
*.egg-info
*.pyo
*.pyd
*.pyc
*.pyo

**/.TimeRecord

src/anygrasp_manipulation/example_data